.alert.alert-danger[role="alert"] = I18n.t("organization.errors.no_contract_section.title")
p = I18n.t("organization.errors.no_contract_section.message")
p = I18n.t("organization.errors.no_contract_section.contact")

.text-center.footer-buttons
  a.btn.btn-secondary[href="#{org_signout_path}"] = I18n.t("organization.header.menu.signout")
