= I18n.t("organization.recovery.email.title")

= I18n.t("organization.recovery.email.message1")

= I18n.t("organization.recovery.email.message2")

= I18n.t("organization.recovery.email.url_title")
= @staff.password_reset_url

= I18n.t("organization.recovery.email.url_note")

= I18n.t("organization.recovery.email.greeting")
