h1 = I18n.t("organization.recovery.email.title")
p = I18n.t("organization.recovery.email.message1")
p = I18n.t("organization.recovery.email.message2")

h3 = I18n.t("organization.recovery.email.url_title")
a[href="#{@staff.password_reset_url}"] = @staff.password_reset_url

p = I18n.t("organization.recovery.email.url_note")

p = I18n.t("organization.recovery.email.greeting")
