<div style="padding: 0 34px; overflow-wrap: break-word; line-height: 1;">
  <div style="color: rgb(64, 87, 102); text-align: left; overflow-wrap: break-word; line-height: 1;">
    <div style="text-align: center; -webkit-box-pack: justify; justify-content: space-between; margin-bottom: 24px; overflow-wrap: break-word; line-height: 1;">
      <img style="box-sizing: border-box; border-radius: 50%; border-style: none;" src="<%= user.picture_url %>" srcset="" width="171px" height="171px">
      <div style="width: 100%; flex-direction: column; -webkit-box-flex: 0; flex-grow: 0; justify-content: space-around; margin-top: 18px;">
        <div style="margin-bottom: 14px; font-size: 34px; font-weight: 500; line-height: 1.08; letter-spacing: 0.5px; white-space: pre-wrap;"><%= user.local_name(locale: context_user.default_locale) %></div>
        <div style="font-size: 22px; margin-top: 24px;"><%= I18n.t("user_profile.conversation_experiences_with_partner_#{context_user.sex_name}", locale: context_user.default_locale, count: user.conversation_experiences_with(context_user)) %></div>
      </div>
    </div>
  </div>
</div>
