commands:
  01-add-node-repo:
    command: curl --silent --location https://rpm.nodesource.com/setup_14.x | bash -
  02-node-install:
    command: yum install -y nodejs
  03-add-yarn-repo:
    command: curl --silent --location https://dl.yarnpkg.com/rpm/yarn.repo | sudo tee /etc/yum.repos.d/yarn.repo
  04-yarn-install:
    command: yum install -y yarn
