packages:
  yum:
    gtk-doc: []
    expat-devel: []
    glib2-devel: []
    libjpeg-turbo-devel: []
    libexif-devel: []
    libpng-devel: []

sources:  
  /usr/local/src: https://github.com/libvips/libvips/releases/download/v8.6.5/vips-8.6.5.tar.gz

commands:
  01-vips-make-install:
    cwd: /usr/local/src/vips-8.6.5
    command: |
      if [ ! -f /usr/local/bin/vips ]; then
        ./configure
        make
        make install
      fi
  02-vips-ldconfig:
    cwd: /usr/local/src/vips-8.6.5
    command: |
      if [ ! -f /usr/local/bin/vips ]; then
        ldconfig
      fi
