.col-12.col-sm-10.col-md-8.col-lg-6.col-xl-4.offset-sm-1.offset-md-2.offset-lg-3.offset-xl-4[style="margin-top: 20vh"]
  h1.title = I18n.t("organization.invitees.invalid.title")
  p = I18n.t("organization.invitees.invalid.message")
