<p>Hello <%= @user.name %></p>

<p>
  Thank you for using Sail!<br />
  As your recent usage, we would like you to make sure again that you can participate in your reserved conversations.
</p>
<p>
  Only in case of unexpected sudden situation, you can cancel the conversations on Sail beforehand.<br />
  however, guess that the Japanese participant is also looking forward to talking with you.
</p>

<div class="wide-stretched">
  <img src="https://www.helte.jp/downloads/student-absent-warning-3-1.png" alt="" />
</div>

<p>
  We all hope both you and Japanese participants enjoy talking and find any good experiences in the kind conversations.
</p>
