<h3><%= @user.name_en %></h3>

<div class="section">
  <p>
    Thank you for using Sail !
  </p>
  <p>
    Previously, you have registered in Sail. Thank you so much for joining!
    How about your schedule for conversations?
  </p>
  <p>
    Here we would like to introduce 3 tips for your successful experiences in Sail. Please check them and enjoy Japanese conversations.
  </p>
</div>
<div class="section-less-comfortable-margin-top">
  <h2 class="title">Watch the video</h2>
  <div class="wide-stretched">
    <a href="https://www.youtube.com/watch?v=VXSCjiU6Ir0" target="_blank">
      <img src="https://www.helte.jp/downloads/new-2nd-student-video-1.jpg" alt="Watch the video" />
    </a>
  </div>
  <p>
    To learn points quickly, please watch the guidance video above. It introduces different 3 points from the below:
    (1) system requirements, (2) participation, (3) attitude in the conversation.
  </p>
</div>

<div class="section-comfortable-margin-top">
  <div class="wide-stretched">
    <img class="title-icon" src="https://www.helte.jp/downloads/icon-note.png" alt="" />
  </div>
  <h2 class="title">1. Set your picture properly</h2>
  <div class="wide-stretched">
    <img src="https://www.helte.jp/downloads/new-2nd-student-material-1.jpg" alt="" />
  </div>
  <p>
    You would choose Japanese participants by checking their pictures. It's all the same as your situation: Japanese would also check your picture and guess what they can talk with you.
    Therefore, the account with an appropriate picture would get good matching. Please check your setting again and replace better picture if your picture is not an appropriate one.
  </p>
</div>
<div class="section-less-comfortable-margin-top">
  <div class="wide-stretched">
    <img class="title-icon" src="https://www.helte.jp/downloads/icon-headset.png" alt="" />
  </div>
  <h2 class="title">2. Put on earphones with microphone</h2>
  <div class="wide-stretched">
    <img src="https://www.helte.jp/downloads/new-2nd-student-material-2.jpg" alt="" />
  </div>
  <p>
    Please put on earphones with microphone or headset microphone to avoid environment noise and to keep your conversation comfortable.
    For better practice, you would be better to hear clearly and learn as much as you can.
  </p>
</div>
<div class="section-less-comfortable-margin-top">
  <div class="wide-stretched">
    <img class="title-icon" src="https://www.helte.jp/downloads/icon-clock.png" alt="" />
  </div>
  <h2 class="title">3. Make sure of you attendance</h2>
  <div class="wide-stretched">
    <img class="huge-title-80" src="https://www.helte.jp/downloads/new-2nd-students-figure-4b.png" alt="" />
  </div>
  <p>
    Once you reserve a conversation, please make sure you should attend the conversation; otherwise the Japanese participant would get disappointed and you would get less opportunities next.
    If you commit 2 times of absence, the system automatically take reservation restriction over your account, and you only can reserve conversations with few people until your attendance is confirmed.
  </p>
</div>
<div class="section">
  <p>
    We all hope both you and Japanese participants enjoy talking and find any good experiences in the kind conversations.
  </p>
</div>

<%= render partial: "components/mailer/launcher_guide", locals: {locale: "en", url: "https://sail.helte.jp/"} %>
