<h3>こんにちは！ <%= @user.name_en %> さん。</h3>

<div class="section">
  <p>
    Sailにとうろくしてくれて、ありがとうございます。
  </p>
  <p>
    いまからSailで日本の人と、はなしてみましょう！<br>
    Sailでは、30さい～90さいの日本の人と、日本語ではなすことができます。
  </p>
</div>

<div class="section-less-comfortable-margin-top">
  <img src="https://lh3.googleusercontent.com/hOKX0dFfODyg40eVOBcvgFN-h9Wf6quN39Jy9emGtd3suKhprwKRR0Vaeom8kymC7Q=w412-h220-rw"/>
</div>

<div class="section-less-comfortable-margin-top">
  <h3><%= link_to 'Sailとは？(What it is)', 'https://www.youtube.com/watch?v=GYwkmochZiI'%></h3>
</div>

<div class="section-less-comfortable-margin-top">
  <h3><%= link_to 'どのように、はなす？(How to Use)', 'https://drive.google.com/file/d/1ibNNeOu7cImRRL-Kx5WmU8slH7O2lE--/view?usp=sharing'%></h3>
</div>

<div class="section-comfortable-margin-top">
  <p>さいしょの２しゅうかんだけ無料（0円・Free）で、3かいまで話すことができます。</p>
  <p>9.9$のパッケージを買うと、1ヵ月になんかいでも予約をいれることができます！</p>

  <p>やさしい、おもしろい人が、たくさんいます。</p>
  <p>たのしい25分を、すごしてくださいね！</p>
</div>

<div class="section-less-comfortable-margin-top">
  <p>========Trial Infomation========</p>
  <p>For the first 2 weeks, you have 3 conversations for free.</p>
  <p>Please subscribe 9.9$ monthly package for unlimited service.</p>
<div>